main {
  margin-left: 40px;
}

footer {
  margin-left: 40px;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.change-machine-output {
  padding-top: 12px;
  min-height: 200px;
  margin-bottom: 25px;
}
